/*
 * Printer Friendly stylesheet; contains some overrides for the
 * regular stylesheet. Is used automatically when printing a page.
 *
 * Modified by SquirrelMail Development Team
 * $Id: printer.css 8330 2004-11-05 19:59:35Z ebullient $
 */
body {
    background: none;
}
#sitetitle,
#subsitetitle,
#usermenu,
#editmenu,
#titleblock,
#flagline,
#usermenu,
#locationmenu {
	display: none;
}
#copyright,
#debug_output,
#contentupdate,
#content {
    border: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
